<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="layout::header"></div>
<h1>Form edit</h1>
<form th:object="${student}" method="post">
    <input th:field="*{name}"/>
    <input th:field="*{address}">
    <select th:field="*{class_id}">
        <option th:each="c: ${class}" th:value="${c.id}" th:text="${c.name}">

        </option>
    </select>
    <button type="submit">Edit</button>
</form>
</body>
</html>